@page
@model lost_on_island.Pages.Game.LocationModel
@{
    var gameState = Model.GameState;
    var jsAvailableConnectionsIds = Json.Serialize(Model.AvailableConnectionsIds);
}


<div class="game-container">
    <div style="background-image: url('@Url.Content($"~/../{Model.CurrentLocation.ImagePath}")')" class="background-overlay"></div>

    <div class="location__title__container">
        <h1 class="location__title--font location__title--header">@Model.CurrentLocation.Title</h1>
        <p class="location__title--font location__title--description">@Model.CurrentLocation.Description</p>
    </div>


    <form method="post" asp-page-handler="ToggleRiskyMode">
        <button type="button" onClick="handleRiskToggler(this)" class="button-toggle @(Model.GameState.IsRiskyMode ? "risky" : "safe")" style="background-image: url('@Url.Content("~/Images/icons/riskysafebutton.png")');">
        </button>
    </form>

    <div class="card-pack">
        @for (int i = 0; i < 3; i++)
        {
            <form method="post" asp-page-handler="HandleCardClick" class="card-form">
                <div class="card card-pack__background" style="background-image: url('@(Model.GameState.IsRiskyMode ? "/Images/card-risk-background.png" : "/Images/card-safe-background.png")');">
                </div>
                <div class="card" onclick="handleCardAnimation(this)">
                    <div class="card--inner">
                        <div style="background-image: url('@(Model.GameState.IsRiskyMode ? "/Images/card-risk-background.png" : "/Images/card-safe-background.png")');" class="card--back">
                        </div>
                        <input type="hidden" name="cardId" value="@Model.SingleLocationCard.Id" />

                        <div class="card--front" onclick="handleCardClick(this)" style="background-image: url('@(Model.GameState.IsRiskyMode ? "/Images/card-risk-foreground.png" : "/Images/card-safe-foreground.png")');">
                            <h3 class="card__title">@Model.SingleLocationCard.Title</h3>
                            <p class ="card__description">@Model.SingleLocationCard.Description</p>
                            <img class="card__icon" src="@Model.SingleLocationCard.Img" alt="Card Image" />
                            <p class ="card__description">@(Model.SingleLocationCard.ItemCount > 0 ? "+" : "")@Model.SingleLocationCard.ItemCount @Model.SingleLocationCard.ItemDescription</p>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>

    <div class="toggler map__toggler" onclick="enableMap()">
        <img class="toggler__icon" src="/Images/Icons/map.png"/>
    </div>
    <div class="map__container"> 
        <div class="map__header__section">
            <img class="map__header__close-button" src="/Images/Icons/x.png" onclick="disableMap()" />
            <p class="map__header">Mapa</p>
            <div></div>
        </div>
        <div class="map__image__section">
            <form method="post" asp-page-handler="HandleChangeLocation">
                <p onclick="changeLocation(this, 2)" class="location__tag tag--shipwreck @(Model.AvailableConnectionsIds.Contains(2) ? "tag--green" : Model.CurrentLocation.Id == 2 ? "tag--yellow" : "tag--red")">
                    Loď
                </p>
                <p onclick="changeLocation(this, 3)" class="location__tag tag--beach @(Model.AvailableConnectionsIds.Contains(3) ? "tag--green" : Model.CurrentLocation.Id == 3 ? "tag--yellow" : "tag--red")">
                    Pláž
                </p>
                <p onclick="changeLocation(this, 4)" class="location__tag tag--field @(Model.AvailableConnectionsIds.Contains(4) ? "tag--green" : Model.CurrentLocation.Id == 4 ? "tag--yellow" : "tag--red")">
                    Louka
                </p>
                <p onclick="changeLocation(this, 5)" class="location__tag tag--forest @(Model.AvailableConnectionsIds.Contains(5) ? "tag--green" : Model.CurrentLocation.Id == 5 ? "tag--yellow" : "tag--red")">
                    Les
                </p>
                <p onclick="changeLocation(this, 6)" class="location__tag tag--cave @(Model.AvailableConnectionsIds.Contains(6) ? "tag--green" : Model.CurrentLocation.Id == 6 ? "tag--yellow" : "tag--red")">
                    Jeskyně
                </p>
                <p onclick="changeLocation(this, 7)" class="location__tag tag--deep-forest @(Model.AvailableConnectionsIds.Contains(7) ? "tag--green" : Model.CurrentLocation.Id == 7 ? "tag--yellow" : "tag--red")">
                    Hluboký les
                </p>
                <input type="hidden" name="locationIdInputValue" />
            </form>
        </div>
        <div class="map__description__section">
            <p class="map__description">(? Kliknutím na místo se přesměrujete na danou lokaci, pokud je dostupná.)</p>
        </div>
    </div>

    <div class="toggler inventory__toggler">
        <img class="toggler__icon" src="/Images/Icons/inventory.png" />
    </div>

    <div class="game-stats">
        <div class="game-stats__energy">
            <span class="icon--energy"></span>
            Energie: @Model.GameState.Energy/20
        </div>
        <div class="game-stats__health">
            <span class="icon--health"></span>
            Zdraví: @Model.GameState.Health/20
        </div>
        <div class="game-stats__turns">
            Počet tahů: @Model.GameState.Turns
        </div>
        <form method="post" asp-page-handler="HandleBadgeClick" class="badges-list">
            <div onclick="handleBadgeClick(this, 'Sword')" class="single-tool__badge" style="background-image: url('@(gameState.Sword ? "/Images/Icons/sword-badge.png" : "/Images/Icons/sword-badge-disabled.png")')"></div>
            <div onclick="handleBadgeClick(this, 'Axe')" class="single-tool__badge" style="background-image: url('@(gameState.Axe ? "/Images/Icons/axe-badge.png" : "/Images/Icons/axe-badge-disabled.png")')"></div>
            <div onclick="handleBadgeClick(this, 'Pickaxe')" class="single-tool__badge" style="background-image: url('@(gameState.Pickaxe ? "/Images/Icons/pickaxe-badge.png" : "/Images/Icons/pickaxe-badge-disabled.png")')"></div>
            <div onclick="handleBadgeClick(this, 'Shears')" class="single-tool__badge" style="background-image: url('@(gameState.Shears ? "/Images/Icons/shears-badge.png" : "/Images/Icons/shears-badge-disabled.png")')"></div>
            <div onclick="handleBadgeClick(this, 'Backpack')" class="single-tool__badge" style="background-image: url('@(gameState.Backpack ? "/Images/Icons/backpack-badge.png" : "/Images/Icons/backpack-badge-disabled.png")')"></div>
            <input type="hidden" name="badgeType" />
        </form>
    </div>
</div>

<script>
    var cardFlipped = false;
    const availableConnectionsIds = @Html.Raw(jsAvailableConnectionsIds);

    const handleCardAnimation = (card) => {
        cardFlipped = true;
        card.classList.add("flipped");
        var cards = document.querySelectorAll('.card');
        cards.forEach(function (cardElement) {
            if (cardElement !== card) {
                cardElement.style.pointerEvents = 'none'; // Zabrání kliknutí na kartu
            }
        });
    }
    const handleCardClick = (card) => {
        card.closest("form").submit();
    }
    const handleRiskToggler = (toggler) => {
        if (cardFlipped == false) {
            toggler.closest("form").submit();
        }
    }
    const handleBadgeClick = (div, badgeType) => {
        var formBadge = div.closest("form");
        formBadge.querySelector("[name='badgeType']").value = badgeType;
        formBadge.submit();
    }
    const changeLocation = (div, locationId) => {
        if (!cardFlipped && availableConnectionsIds.includes(locationId)) {
            var formLocation = div.closest("form");
            formLocation.querySelector("[name='locationIdInputValue']").value = locationId;
            formLocation.submit();
        }
    }
    const enableMap = () => {
        var map = document.querySelector(".map__container");
        map.classList.add("map__container__enabled");
    }
    const disableMap = () => {
        var map = document.querySelector(".map__container");
        map.classList.remove("map__container__enabled");
    }
</script>

