@page
@model lost_on_island.Pages.Game.LocationModel

<h1>@Model.CurrentLocation.Title</h1>
<img src="@Url.Content($"~/{Model.CurrentLocation.ImagePath}")" alt="Location image" />
<p>@Model.CurrentLocation.Description</p>

<div class="card-pack">
    @foreach (var card in Model.LocationCards)
    {
        <div class="card">
            <h3>@card.Title</h3>
            <p>ID: @card.Id</p>
            <p>Šance: @card.Probability%</p>
            <p>@card.Description</p>
            <p>Item type: @card.Item</p>
            <p>+ @card.ItemAdd</p>
            <img src="@Url.Content($"/{card.Img}")" alt="Card Image" />
            <form method="post" asp-page-handler="HandleCardClick">
                <input type="hidden" name="cardId" value="@card.Id" />
                <button type="submit">Click and try</button>
            </form>
        </div>
    }
</div>

@foreach (var connection in Model.AvailableConnections)
{
    <a asp-page="/Game/Location" asp-route-locationId="@connection.ToLocationId">@connection.Description</a>
}
