@page
@model lost_on_island.Pages.Game.LocationModel
@{
    var gameState = Model.GameState;
}


<h1>@Model.CurrentLocation.Title</h1>

<!-- <img src="@Url.Content($"~/{Model.CurrentLocation.ImagePath}")" alt="Location image" /> -->
<p>@Model.CurrentLocation.Description</p>

<!--
<div class="card-pack">
    @foreach (var card in Model.LocationCards)
    {
        <div class="card">
            <h3>@card.Title</h3>
            <p>ID: @card.Id</p>
            <p>Šance: @card.Probability%</p>
            <p>@card.Description</p>
            <p>Item type: @card.Item</p>
            <p>+ @card.ItemAdd</p>
            <img src="@Url.Content($"/{card.Img}")" alt="Card Image" />
            
            <form method="post" asp-page-handler="HandleCardClick">
                <input type="hidden" name="cardId" value="@card.Id" />
                <button type="submit">Click and try</button>
            </form>
        </div>
    }
</div>
-->

<div class="card-pack">
    @foreach (var card in Model.LocationCards)
    {
        <form method="post" asp-page-handler="HandleCardClick" class="card-form">
            <input type="hidden" name="cardId" value="@card.Id" />
            <div class="card pack-of-cards"></div>
            <div class="card" onclick="handleCardAnimation(this)">
                <div class="card--inner">
                    <div class="card--back">
                    </div>
                    <div class="card--front" onclick="handleCardClick(this)">
                        <h3>@card.Title</h3>
                        <p>ID: @card.Id</p>
                        <p>Šance: @card.Probability%</p>
                        <p>@card.Description</p>
                        <p>Item type: @card.Item</p>
                        <p>+ @card.ItemAdd</p>
                        <img src="@card.Img" alt="Card Image" />
                    </div>
                </div>
            </div>
        </form>
    }
</div>

<script>
    function handleCardAnimation(card) {
        card.classList.add("flipped");
    }
    function handleCardClick(card) {
        card.closest("form").submit();
    }
</script>


<h3>Inventář</h3>
@foreach (var item in gameState.Inventory)
{
    <p>@item.Key: @item.Value</p>
}

<h3>Energie: @gameState.Energy</h3>
<h3>Zdraví: @gameState.Health</h3>


@foreach (var connection in Model.AvailableConnections)
{
    <a asp-page="/Game/Location" asp-route-locationId="@connection.ToLocationId">@connection.Description</a>
}

<div class="inventory">
    <div class="inventory__content">
    </div>
</div>